.exercises {
    text-align: center;
}

.exercises::after {
    content: "";
    filter: blur(1.2px); 
    position: absolute;
    background: url("../images/frontsquat1.jpg") no-repeat fixed;
    background-size: cover;
    background-position: 0% 95%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-height: 100%;
}

.exercises-container {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
}
