.exercises {
    text-align: center;
    padding: 20px;
}

.bg-image {
    height: 100vh;
    background-image: url("../images/barbell4.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 100%;
    opacity: 0.6;
    filter: blur(1.3px);
}

.exercises-container {
    text-align: center;
    z-index: 1;
}

.exercise-groups {
    display: inline-block;
    padding: 0 50px 0 50px;
}

.individual-exercises {
    background: green;
}

