.home {
    height: 100vh;
    text-align: center;
    background-image: url("../images/barbell5.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 100%;
    opacity: 0.6;
    filter: blur(1.3px);
}
