.home {
    text-align: center;
}

.home::after {
    content: "";
    opacity: 0.7;
    filter: blur(2px); 
    position: absolute;
    background: url("../images/barbell5.jpg") no-repeat fixed;
    background-size: cover;
    background-position: 10% 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-height: 100%;
}